---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import QuickLinks from '../components/QuickLinks.astro';
import Features from '../components/Features.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="mesa">
	<main>
		<Header />
		<Hero />
		<QuickLinks />
		<Features />
		<Footer />
	</main>
</Layout>