---
import "../styles/global.css";
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Cute federated instant messenger" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="container">
			<slot />
		</div>
	</body>
</html>
<style>
	.container {
		padding: 0 1rem;
	}
	@media (min-width: 768px) {
		.container {
			padding: 0 2rem;
		}
	}
</style>
